{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="card p-4 text-center">
            <h2 class="mb-4">Профиль</h2>
            <p><strong>Имя:</strong> {{ user.username }}</p>
            <p><strong>Дата регистрации:</strong> {{ user.date_joined|date:"d.m.Y" }}</p>
            <form method="post" action="{% url 'accounts:logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger w-100">Выйти</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}